<app-menu></app-menu>

<app-header></app-header>


<div class="clearfix"></div>

<div class="content-wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2>historique </h2>

          <hr>
          <div class="row">

            <div class="col-12 col-lg-12">
              <div class="card">
                <div class="card-header">Liste des sinistres traitée</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush table-striped table-hover">
                      <thead>
                      <tr>
                        <th>id</th>
                        <th>date</th>
                        <th>etat</th>
                        <th>montant</th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let resultat of resultats | filterBy: filter ">
                        <td>{{resultat.id}}</td>
                        <td>{{resultat.date | date}}</td>
                        <td>{{resultat.resultat}}</td>
                        <td>{{resultat.montant}}</td>
                        <td><a [routerLink]="['/voirhistorique', resultat.id ]" title="détail"><span class="fa fa-list-alt fa-2x"></span></a></td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>
