<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">




  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center error-pages">
          <h1 class="error-title text-warning"> {{error}}</h1>
          <h2 class="error-sub-title text-dark">404 not found</h2>

          <p class="error-message text-dark text-uppercase">{{message}}</p>

          <div class="mt-4">
            <a [routerLink]="['/actualite']" class="btn btn-dark btn-round m-1">Go To Home </a>
          </div>

          <div class="mt-4">
            <p class="">Copyright AMI Assurances © {{date| date:'yyyy'}} Tous les droits réservés
            </p>
          </div>
          <hr class="w-50 border-light">
        </div>
      </div>
    </div>
  </div>

</div><!--wrapper-->
